doctype html
html(lang='en')
  head
    // Programming by Ildar Sagdejev ( http://twitter.com/tknomad ) 
    meta(charset='UTF-8')
    title Ildar Sagdejev - Web ninja for hire
    link(rel='stylesheet', href='skin/skin.css')
  body
    img#avatar(src='gfx/qr-code.png', alt='QR Code')
    #menu
      #about
        | What I do
      a(href='#websites')
        | Websites
      a(href='#games')
        | Games
      a#hire(href='#contact')
        | Hire me!
    #header
      h1 Ildar Sagdejev
      h2 Web Ninja For Hire
    ul#links
      li
        a.fb(href='http://fb.me/tknomad', target='_blank', title='Read my public diary')
          img(src="gfx/link-icons/fb.png" alt="Facebook")
      li
        a.twitter(href='http://twitter.com/tknomad', target='_blank', title='Keep tabs on my progress')
          img(src="gfx/link-icons/twitter.png" alt="Facebook")
      li
        a.wikimedia(href='http://commons.wikimedia.org/wiki/User:Specious', target='_blank', title='Behold my contributions to mankind')
          img(src="gfx/link-icons/wikipedia.png" alt="Facebook")
      li
        a.github(href='http://github.com/specious', target='_blank', title='Entertain yourself with my open source code')
          img(src="gfx/link-icons/terminal.png" alt="Facebook")
      li
        a.flickr(href='http://www.flickr.com/photos/the-specious', target='_blank', title='Enjoy my photography')
          img(src="gfx/link-icons/camera.png" alt="Facebook")
    #content
      #websites.page
        h1 Recent websites
        .project
          a(href='http://www.julemagne.com/', target='_blank')
            img.cover(src='gfx/gallery/websites/julemagne.png', alt='Julemagne.com')
          .info
            p.name
              | Julemagne.com
            p.type
              | Website - Fine art
            hr
            p.job
              | Design and programming
            p.credits
              | Art and graphics by
              a(href='http://twitter.com/julemagne', target='_blank') Julie David
        .project
          a(href='http://www.promortuary.com/', target='_blank')
            img.cover(src='gfx/gallery/websites/pms-nc.png', alt='Professional Mortuary')
          .info
            p.name
              | Professional Mortuary
            p.type
              | Website - Funeral service
            hr
            p.job
              | Design and programming
            p.credits
              | Embalming by
              a(href='http://www.promortuary.com/', target='_blank') William Lum
      #games.page
        h1 Sweepstakes games
        .project
          a(href='gfx/gallery/games/wheel-deal.png', target='_blank')
            img.cover(src='gfx/cover-placeholder.jpg', data-src='gfx/gallery/games/wheel-deal.png', alt='Wheel Deal')
            noscript
              img.cover(src='gfx/gallery/games/wheel-deal.png', alt='Wheel Deal')
          .info
            p.name
              | Wheel Deal
            p.type
              | Game of chance
            hr
            p.job
              | Programming
            p.credits
              | Graphics by Figure 8 Technologies
        .project
          a(href='gfx/gallery/games/lucky-loot.png', target='_blank')
            img.cover(src='gfx/cover-placeholder.jpg', data-src='gfx/gallery/games/lucky-loot.png', alt='Lucky"s Loot')
            noscript
              img.cover(src='gfx/gallery/games/lucky-loot.png', alt='Lucky"s Loot')
          .info
            p.name
              | Lucky's Loot
            p.type
              | Game of chance
            hr
            p.job
              | Programming
            p.credits
              | Graphics by Figure 8 Technologies
        .project
          a(href='gfx/gallery/games/crazy-eights.png', target='_blank')
            img.cover(src='gfx/cover-placeholder.jpg', data-src='gfx/gallery/games/crazy-eights.png', alt='Crazy Eights')
            noscript
              img.cover(src='gfx/gallery/games/crazy-eights.png', alt='Crazy Eights')
          .info
            p.name
              | Crazy Eights
            p.type
              | Game of chance
            hr
            p.job
              | Programming
            p.credits
              | Graphics by Figure 8 Technologies
        .project
          a(href='gfx/gallery/games/lucky-lager.png', target='_blank')
            img.cover(src='gfx/cover-placeholder.jpg', data-src='gfx/gallery/games/lucky-lager.png', alt='Lucky Lager')
            noscript
              img.cover(src='gfx/gallery/games/lucky-lager.png', alt='Lucky Lager')
          .info
            p.name
              | Lucky Lager
            p.type
              | Game of chance
            hr
            p.job
              | Programming
            p.credits
              | Graphics by Figure 8 Technologies
        .project
          a(href='gfx/gallery/games/iceball-keno.png', target='_blank')
            img.cover(src='gfx/cover-placeholder.jpg', data-src='gfx/gallery/games/iceball-keno.png', alt='Iceball Keno')
            noscript
              img.cover(src='gfx/gallery/games/iceball-keno.png', alt='Iceball Keno')
          .info
            p.name
              | Iceball Keno
            p.type
              | Game of chance
            hr
            p.job
              | Programming
            p.credits
              | &nbsp;
        .project
          a(href='gfx/gallery/games/pride.png', target='_blank')
            img.cover(src='gfx/cover-placeholder.jpg', data-src='gfx/gallery/games/pride.png', alt='American Pride')
            noscript
              img.cover(src='gfx/gallery/games/pride.png', alt='American Pride')
          .info
            p.name
              | American Pride
            p.type
              | Game of chance
            hr
            p.job
              | Programming
            p.credits
              | Graphics by Figure 8 Technologies
        .project
          a(href='gfx/gallery/games/deuces-wild.png', target='_blank')
            img.cover(src='gfx/cover-placeholder.jpg', data-src='gfx/gallery/games/deuces-wild.png', alt='Deuces Wild')
            noscript
              img.cover(src='gfx/gallery/games/deuces-wild.png', alt='Deuces Wild')
          .info
            p.name
              | Deuces Wild
            p.type
              | Game of chance
            hr
            p.job
              | Programming
            p.credits
              | Graphics by Figure 8 Technologies
      #contact.page
        h1 Hire me!
        form(action='contact.php', method='post')
          label
            | Your name
            input#name(type='text', name='name', required='')
          label
            | Your e-mail
            input(type='email', name='email', required='')
          .group
            label
              | Budget
              input(type='text', name='budget', placeholder='e.g., $3500')
            label
              | Start date
              select(name='start')
                option(value='1') Within 1 month
                option(value='1-2', selected='') 1 - 2 months
                option(value='2-3') 2 - 3 months
                option(value='3+') 3+ months
          div(style='clear: both')
          label
            | What can I help you with?
            textarea(name='message', required='')
          input#submit(type='submit', value='Submit')
        #success
          | Thanks for your message! I will get back to you soon.
    div
      #logos
        a(href='http://jquery.com/', target='_blank')
          img(src='gfx/logos/jquery.png', alt='jQuery')
        a(href='http://html5please.com/', target='_blank')
          img(src='gfx/logos/html5.png', alt='HTML5')
        a(href='http://css3please.com/', target='_blank')
          img(src='gfx/logos/css3.png', alt='CSS3')
      p#copyright
        | Designed and programmed by Ildar Sagdejev &copy; 2014
    script(src='js/lib/jquery.js')
    script(src='js/lib/zoomerang.js')
    script(src='js/infowin.js')
    script(src='js/contact.js')
    script.
      $(function() {
        function scrollTo( selector, time ) {
          $('html, body').animate( {
            scrollTop: $(selector).offset().top
          }, time || 1000 )
        }

        $('#about').click( function() {
          infoShow( 'about.html', '#about-content', 420 )
        } )
        $('#menu > a').click( function() {
          scrollTo( $(this).attr('href') )
          return false
        } )
        $('#hire').click( function() {
          $('#name').focus()
          return false
        } )

        contactFormEnable( $('#contact') )

        $('#links li').each( function() {
          var link = $(this).children('a')
          var caption = $(this).append('<span class="link-text">' + link.attr('title') + '</span>').children('span')[0]

          link.removeAttr('title').hover( function() {
            $(caption).stop( true ).css( 'opacity', '1' )
          }, function() {
            $(caption).fadeTo( 333, 0 )
          } )
        } )

        //
        // Due to an unfortunate bug in Android 2.2 - 2.3 stock browser,
        // the transform that Zoomerang performs does not render correctly.
        //
        // UC Browser does fine though!
        //
        // https://code.google.com/p/android/issues/detail?id=12451
        //
        if( /Android 2.[23]/.test( navigator.userAgent )
            && !/UCBrowser/.test( navigator.userAgent ) ) {
          $('#avatar').wrap('<a href="gfx/qr-code.png"/>')
        } else {
          Zoomerang.config( {
            bgColor: '#121212',
            bgOpacity: 0.6
          } ).listen('#avatar')
        }

        //
        // Lazy load images
        //
        $(window).load( function() {
          $(".cover").each( function() {
            var src = this.getAttribute( "data-src" )

            if( src ) {
              this.setAttribute( "src", src )
              this.removeAttribute( "data-src" )
            }
          } )
        } )
      })